//SPDX-License-Identifier: GPL-2.0
/* Copyright (C) 2018 Octavo Systems LLC - https://www.octavosystems.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-osd335x-common.dtsi"

/ {
	model = "CfA OSD3358-SM-ADZE";
	compatible = "oct,osd3358-sm-refdesign", "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

	chosen {
		base_dtb = "am335x-osd3358-sm-adze.dts";
		base_dtb_timestamp = __TIMESTAMP__;
	};

	// GPIO inputs. These are readable from libgpio
	gpio_keys: fpga_gpio_input {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		FPGA_GPIO_TESTI {
		        label = "FPGA_GPIO_TESTI";
		        gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
                        linux,code = <1>;
		};
		FPGA_DONE {
		        label = "FPGA_DONE";
		        gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
                        linux,code = <1>;
		};
		FPGA_INIT_B {
		        label = "FPGA_INIT_B";
		        gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>;
                        linux,code = <1>;
		};
	};

        // Really any GPIO Outputs(!) These are writable via /sys/class/leds/
	leds{
                pinctrl-names = "default";
                pinctrl-0 = <&gpio_pins>;
		compatible = "gpio-leds";
		FPGA_SMAP_RDRW_B {
		        label = "FPGA_SMAP_RDRW_B";
		        gpios = <&gpio1 24 GPIO_ACTIVE_LOW>;
                        default-state="off";
		};
		FPGA_SMAP_CSI {
		        label = "FPGA_SMAP_CSI";
		        gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_PROG_B {
		        label = "FPGA_PROG_B";
		        gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		//FPGA_INIT_B {
		//        label = "FPGA_INIT_B";
		//        gpios = <&gpio1 28 GPIO_ACTIVE_LOW>;
                //        default-state="off";
		//};
		FPGA_CCLK {
		        label = "FPGA_CCLK";
		        gpios = <&gpio1 29 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_GPIO_TESTO {
		        label = "FPGA_GPIO_TESTO";
		        gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D0 {
		        label = "FPGA_SMAP_D0";
		        gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D1 {
		        label = "FPGA_SMAP_D1";
		        gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D2 {
		        label = "FPGA_SMAP_D2";
		        gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D3 {
		        label = "FPGA_SMAP_D3";
		        gpios = <&gpio1 19 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D4 {
		        label = "FPGA_SMAP_D4";
		        gpios = <&gpio1 20 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D5 {
		        label = "FPGA_SMAP_D5";
		        gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D6 {
		        label = "FPGA_SMAP_D6";
		        gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
		FPGA_SMAP_D7 {
		        label = "FPGA_SMAP_D7";
		        gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>;
                        default-state="off";
		};
	};

};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
};

&i2c0 {
      status = "disabled";
};

&spi0 {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&spi0_pins>;
      ti,spi-num-cs = <1>;
      spidev@0 {
                compatible = "rohm,dh2228fv";
                spi-max-frequency = <10000000>;
                reg = <0>;
      };
};

/ {
	chosen {
		stdout-path = &uart0;
	};


	vmmcsd_fixed: fixedregulator0 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&am33xx_pinmux {
	ethernet_interrupt: ethernet-interrupt{
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD9, PIN_INPUT_PULLUP, MUX_MODE0)	/* PHY_INT on GPMC_AD9 */
		>;
	};

	ethernet_reset: ethernet_reset-pins{
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x828, PIN_OUTPUT_PULLUP | MUX_MODE7) /* (T11) gpmc_ad10.gpio0[26] */
		>;
	};

        // To Silabs synth
	i2c1_pins: pinmux-i2c1-pins{
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x910, PIN_INPUT | MUX_MODE3) /* (J15) gmii1_rxer.I2C1_SCL */
			AM33XX_IOPAD(0x90c, PIN_INPUT | MUX_MODE3) /* (H17) gmii1_crs.I2C1_SDA */
		>;
	};


        // To MAC EEPROM / SFP
	i2c2_pins: pinmux-i2c2-pins{
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x97c, PIN_INPUT | MUX_MODE3) /* (D17) uart1_rtsn.I2C2_SCL */
			AM33XX_IOPAD(0x978, PIN_INPUT | MUX_MODE3) /* (D18) uart1_ctsn.I2C2_SDA */
		>;
	};

        // Debug console
	uart0_pins: pinmux-uart0-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART0_RXD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART0_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
		>;
	};


        // FPGA (WR) console
	uart1_pins: pinmux-uart1-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART1_RXD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART1_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
		>;
	};

	spi0_pins: pinmux_spi0-pins {
		   pinctrl-single,pins = <
		   		       AM33XX_IOPAD(0x0950, PIN_INPUT_PULLUP | MUX_MODE0 ) /*(A17) spi0_sclk.spi0_sclk */
				       AM33XX_IOPAD(0x0954, PIN_INPUT_PULLUP | MUX_MODE0 ) /*(B17) spi0_d0.spi0_d0 */
				       AM33XX_IOPAD(0x0958, PIN_INPUT_PULLUP | MUX_MODE0 ) /*(B16) spi0_d1.spi0_d1 */
				       AM33XX_IOPAD(0x095c, PIN_INPUT_PULLUP | MUX_MODE0 ) /*(A16) spi0_cs0.spi0_cs0 */
		>;
	};

	cpsw_default: cpsw-default {
		pinctrl-single,pins = <
			/* Slave 1 */
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_EN, PIN_OUTPUT_PULLDOWN, MUX_MODE2)	/* mii1_txen.rgmii1_tctl */
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_DV, PIN_INPUT_PULLDOWN, MUX_MODE2)		/* mii1_rxdv.rgmii1_rctl */
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD3, PIN_OUTPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD2, PIN_OUTPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD1, PIN_OUTPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD0, PIN_OUTPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_CLK, PIN_OUTPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_CLK, PIN_INPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD3, PIN_INPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD2, PIN_INPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD1, PIN_INPUT_PULLDOWN, MUX_MODE2)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD0, PIN_INPUT_PULLDOWN, MUX_MODE2)
		>;
	};

	cpsw_sleep: cpsw-sleep {
		pinctrl-single,pins = <
			/* Slave 1 reset value */
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_EN, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_DV, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD3, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD2, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD1, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD0, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_CLK, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_CLK, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD3, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD2, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD1, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD0, PIN_INPUT_PULLDOWN, MUX_MODE7)
		>;
	};

	davinci_mdio_default: davinci-mdio-default {
		pinctrl-single,pins = <
			/* MDIO */
			AM33XX_PADCONF(AM335X_PIN_MDIO, PIN_INPUT_PULLUP | SLEWCTRL_FAST, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MDC, PIN_OUTPUT_PULLUP, MUX_MODE0)
		>;
	};

	davinci_mdio_sleep: davinci-mdio-sleep {
		pinctrl-single,pins = <
			/* MDIO reset value */
			AM33XX_PADCONF(AM335X_PIN_MDIO, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MDC, PIN_INPUT_PULLDOWN, MUX_MODE7)
		>;
	};

	mmc1_pins: pinmux-mmc1-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_SPI0_CS1, PIN_INPUT, MUX_MODE7) /* (C15) spi0_cs1.gpio0[6] */
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT0, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT1, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT2, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT3, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CMD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CLK, PIN_INPUT_PULLUP, MUX_MODE0)
		>;
	};

	emmc_pins: pinmux-emmc-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_CSN1, PIN_INPUT_PULLUP, MUX_MODE2) /* gpmc_csn1.mmc1_clk */
			AM33XX_PADCONF(AM335X_PIN_GPMC_CSN2, PIN_INPUT_PULLUP, MUX_MODE2) /* gpmc_csn2.mmc1_cmd */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD0, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad0.mmc1_dat0 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD1, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad1.mmc1_dat1 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD2, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad2.mmc1_dat2 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD3, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad3.mmc1_dat3 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD4, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad4.mmc1_dat4 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD5, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad5.mmc1_dat5 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD6, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad6.mmc1_dat6 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD7, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad7.mmc1_dat7 */
		>;
	};

        // GPIO pins
	gpio_pins: pinmux-gpio-pins{
		pinctrl-single,pins = <
        		// SIP-FPGA selectmap interface & control/status pins
			AM33XX_IOPAD(0x840, PIN_OUTPUT | MUX_MODE7) /* (R13) gpmc_a0.gpio1[16] SMAP_D0 */
			AM33XX_IOPAD(0x844, PIN_OUTPUT | MUX_MODE7) /* (V14) gpmc_a1.gpio1[17] SMAP_D1 */
			AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE7) /* (U14) gpmc_a2.gpio1[18] SMAP_D2 */
			AM33XX_IOPAD(0x84c, PIN_OUTPUT | MUX_MODE7) /* (T14) gpmc_a3.gpio1[19] SMAP_D3 */
			AM33XX_IOPAD(0x850, PIN_OUTPUT | MUX_MODE7) /* (R14) gpmc_a4.gpio1[20] SMAP_D4 */
			AM33XX_IOPAD(0x854, PIN_OUTPUT | MUX_MODE7) /* (V15) gpmc_a5.gpio1[21] SMAP_D5 */
			AM33XX_IOPAD(0x858, PIN_OUTPUT | MUX_MODE7) /* (U15) gpmc_a6.gpio1[22] SMAP_D6 */
			AM33XX_IOPAD(0x85c, PIN_OUTPUT | MUX_MODE7) /* (T15) gpmc_a7.gpio1[23] SMAP_D7 */
			AM33XX_IOPAD(0x860, PIN_OUTPUT | MUX_MODE7) /* (V16) gpmc_a8.gpio1[24] SMAP_RDWR_B */
			AM33XX_IOPAD(0x864, PIN_OUTPUT | MUX_MODE7) /* (U16) gpmc_a9.gpio1[25] SMAP_CSI */
			AM33XX_IOPAD(0x868, PIN_OUTPUT | MUX_MODE7) /* (T16) gpmc_a10.gpio1[26] PROG_B */
			AM33XX_IOPAD(0x86c, PIN_INPUT_PULLDOWN | MUX_MODE7) /* (V17) gpmc_a11.gpio1[27] DONE */
			AM33XX_IOPAD(0x878, PIN_INPUT  | MUX_MODE7) /* (U18) gpmc_be1n.gpio1[28] INIT_B */
			AM33XX_IOPAD(0x87c, PIN_OUTPUT | MUX_MODE7) /* (V6) gpmc_csn0.gpio1[29] CCLK */
                        // HEADER pins 0 (J12)
			AM33XX_IOPAD(0x888, PIN_INPUT | MUX_MODE7) /* (T13) gpmc_csn3.gpio2[0] */
			AM33XX_IOPAD(0x88c, PIN_INPUT | MUX_MODE7) /* (V12) gpmc_clk.gpio2[1] */
			AM33XX_IOPAD(0x890, PIN_INPUT | MUX_MODE7) /* (R7) gpmc_advn_ale.gpio2[2] */
			AM33XX_IOPAD(0x894, PIN_INPUT | MUX_MODE7) /* (T7) gpmc_oen_ren.gpio2[3] */
			AM33XX_IOPAD(0x898, PIN_INPUT | MUX_MODE7) /* (U6) gpmc_wen.gpio2[4] */
			AM33XX_IOPAD(0x89c, PIN_INPUT | MUX_MODE7) /* (T6) gpmc_be0n_cle.gpio2[5] */
			AM33XX_IOPAD(0x8a0, PIN_OUTPUT | MUX_MODE7) /* (R1) lcd_data0.gpio2[6] */
			AM33XX_IOPAD(0x8a4, PIN_INPUT | MUX_MODE7) /* (R2) lcd_data1.gpio2[7] */
			AM33XX_IOPAD(0x8a8, PIN_INPUT | MUX_MODE7) /* (R3) lcd_data2.gpio2[8] */
			AM33XX_IOPAD(0x8ac, PIN_INPUT | MUX_MODE7) /* (R4) lcd_data3.gpio2[9] */
                        // Header pins 1 (J14)
			AM33XX_IOPAD(0x908, PIN_INPUT | MUX_MODE7) /* (H16) gmii1_col.gpio3[0] */
			AM33XX_IOPAD(0xa34, PIN_INPUT | MUX_MODE7) /* (F15) USB1_DRVVBUS.gpio3[13] */
			AM33XX_IOPAD(0x990, PIN_INPUT | MUX_MODE7) /* (A13) mcasp0_aclkx.gpio3[14] */
			AM33XX_IOPAD(0x994, PIN_INPUT | MUX_MODE7) /* (B13) mcasp0_fsx.gpio3[15] */
			AM33XX_IOPAD(0x998, PIN_INPUT | MUX_MODE7) /* (D12) mcasp0_axr0.gpio3[16] */
			AM33XX_IOPAD(0x99c, PIN_INPUT | MUX_MODE7) /* (C12) mcasp0_ahclkr.gpio3[17] */
			AM33XX_IOPAD(0x9ac, PIN_INPUT | MUX_MODE7) /* (A14) mcasp0_ahclkx.gpio3[21] */
		>;
	};

        //// SIP GPIO HEADER 0 (J12)
	//header0_pins: pinmux-header0-pins {
	//	pinctrl-single,pins = <
	//		AM33XX_IOPAD(0x888, PIN_INPUT | MUX_MODE7) /* (T13) gpmc_csn3.gpio2[0] */
	//		AM33XX_IOPAD(0x88c, PIN_INPUT | MUX_MODE7) /* (V12) gpmc_clk.gpio2[1] */
	//		AM33XX_IOPAD(0x890, PIN_INPUT | MUX_MODE7) /* (R7) gpmc_advn_ale.gpio2[2] */
	//		AM33XX_IOPAD(0x894, PIN_INPUT | MUX_MODE7) /* (T7) gpmc_oen_ren.gpio2[3] */
	//		AM33XX_IOPAD(0x898, PIN_INPUT | MUX_MODE7) /* (U6) gpmc_wen.gpio2[4] */
	//		AM33XX_IOPAD(0x89c, PIN_INPUT | MUX_MODE7) /* (T6) gpmc_be0n_cle.gpio2[5] */
	//		AM33XX_IOPAD(0x8a0, PIN_OUTPUT | MUX_MODE7) /* (R1) lcd_data0.gpio2[6] */
	//		AM33XX_IOPAD(0x8a4, PIN_INPUT | MUX_MODE7) /* (R2) lcd_data1.gpio2[7] */
	//		AM33XX_IOPAD(0x8a8, PIN_INPUT | MUX_MODE7) /* (R3) lcd_data2.gpio2[8] */
	//		AM33XX_IOPAD(0x8ac, PIN_INPUT | MUX_MODE7) /* (R4) lcd_data3.gpio2[9] */
	//	>;
	//};

        //// SIP GPIO HEADER 1 (J14)
	//header1_pins: pinmux-header1-pins {
	//	pinctrl-single,pins = <
	//		AM33XX_IOPAD(0x908, PIN_INPUT | MUX_MODE7) /* (H16) gmii1_col.gpio3[0] */
	//		AM33XX_IOPAD(0xa34, PIN_INPUT | MUX_MODE7) /* (F15) USB1_DRVVBUS.gpio3[13] */
	//		AM33XX_IOPAD(0x990, PIN_INPUT | MUX_MODE7) /* (A13) mcasp0_aclkx.gpio3[14] */
	//		AM33XX_IOPAD(0x994, PIN_INPUT | MUX_MODE7) /* (B13) mcasp0_fsx.gpio3[15] */
	//		AM33XX_IOPAD(0x998, PIN_INPUT | MUX_MODE7) /* (D12) mcasp0_axr0.gpio3[16] */
	//		AM33XX_IOPAD(0x99c, PIN_INPUT | MUX_MODE7) /* (C12) mcasp0_ahclkr.gpio3[17] */
	//		AM33XX_IOPAD(0x9ac, PIN_INPUT | MUX_MODE7) /* (A14) mcasp0_ahclkx.gpio3[21] */
	//	>;
	//};
};


&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;

	status = "okay";
	symlink = "bone/uart/0";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;

	status = "okay";
	symlink = "bone/uart/1";
};


&usb0 {
	dr_mode = "peripheral";
	interrupts-extended = <&intc 18 &tps 0>;
	interrupt-names = "mc", "vbus";
	status = "disabled";
};

&usb1 {
	dr_mode = "host";
	status = "disabled";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";
	clock-frequency = <100000>;
	symlink = "bone/i2c/2";
	eeprom@53 {
		compatible = "microchip,24c02", "atmel,24c02";
		size = <256>;
		read-only;
		reg = <0x53>;
		pagesize = <16>; //Schematic shows 24AA025E48 (16-byte page)
		#address-cells = <1>;
		#size-cells = <1>;
		mac_addr: mac_addr@FA {
			reg = <0xFA 0x06>;
		};
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
	clock-frequency = <100000>;
	symlink = "bone/i2c/1";
};

&cpsw_port1 {
	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";
	ti,dual-emac-pvid = <1>;
        local-mac-address = <&mac_addr>;
        mac-address = <&mac_addr>;
        nvmem-cells= <&mac_addr>;
        nvmem-cell-names = "mac-address";
	status = "okay";
};

&cpsw_port2 {
	status = "disabled"; // Without disabling port1 won't work
};

&mac_sw {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cpsw_default>;
	pinctrl-1 = <&cpsw_sleep>;
	status = "okay";
};

&davinci_mdio_sw {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&davinci_mdio_default>;
	pinctrl-1 = <&davinci_mdio_sleep>;
	status = "okay";
	reset-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
	reset-assert-us = <10000>;
	reset-deassert-us = <30000>;
	ethphy0: ethernet-phy@0 {
		device-type = "ethernet-phy";
		reg = <0>;
	};
};

&mmc1 {
	status = "okay";
	vmmc-supply = <&vmmcsd_fixed>;
	bus-width = <0x4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	cd-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
};

&rtc {
	system-power-controller;
	clocks = <&clk_32768_ck>, <&clk_24mhz_clkctrl AM3_CLK_24MHZ_CLKDIV32K_CLKCTRL 0>;
	clock-names = "ext-clk", "int-clk";
};

